In [1]:
pip install requests beautifulsoup4

Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (4.13.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests) (2025.1.31)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (4.12.2)

In [2]:
import requests
from bs4 import BeautifulSoup

url = "http://quotes.toscrape.com/"

response = requests.get(url)

In [3]:
if response.status_code == 200:

    soup = BeautifulSoup(response.text, 'html.parser')

    quotes = soup.find_all("div", class_="quote")
    for i, quote in enumerate(quotes[:5]):
        text = quote.find("span", class_="text").text
        author = quote.find("small", class_="author").text
        tags = [tag.text for tag in quote.find_all("a", class_="tag")]
        print(f"{i+1}. \"{text}\" - {author}")
        print(f"   Tags: {', '.join(tags)}\n")
else:
    print(f"Failed to retrieve the webpage. Status Code: {response.status_code}")

1. "“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”" - Albert Einstein
   Tags: change, deep-thoughts, thinking, world

2. "“It is our choices, Harry, that show what we truly are, far more than our abilities.”" - J.K. Rowling
   Tags: abilities, choices

3. "“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”" - Albert Einstein
   Tags: inspirational, life, live, miracle, miracles

4. "“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”" - Jane Austen
   Tags: aliteracy, books, classic, humor

5. "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”" - Marilyn Monroe
   Tags: be-yourself, inspirational

In [4]:
import requests
from bs4 import BeautifulSoup
city = "india/hyderabad"
url = f"https://www.timeanddate.com/weather/{city}"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
temp = soup.find("div", class_="h2").text.strip() if soup.find("div", class_="h2") else "N/A"
desc = soup.find("p").text.strip() if soup.find("p") else "N/A"
print(f"Current Weather in Hyderabad: {temp} | {desc}")

Current Weather in Hyderabad: 90 °F | Clear.

In [6]:
import requests
from bs4 import BeautifulSoup
search_url = "https://www.amazon.in/s?k=iphone&crid=PQVCJSNISAH4&sprefix=iphone%2Caps%2C233&ref=nb_sb_noss_2s"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}
response = requests.get(search_url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")
product = soup.select_one("span.a-size-medium")
price = soup.select_one("span.a-price-whole")
if product and price:
    print(f"Product: {product.text.strip()}")
    print(f"Price: Rs.{price.text.strip()}")
else:
    print("Could not find product details.")

Could not find product details.

In [ ]:
import requests
from bs4 import BeautifulSoup
url = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"




# Send GET request

response = requests.get(url,headers=headers)

soup = BeautifulSoup(response.text, "html.parser")



# Find the table

table = soup.find("table", class_="wikitable")



# Extract the first 5 countries and their population

for row in table.find_all("tr")[1:6]:  # Skip the header row

    columns = row.find_all("td")

    country = columns[1].text.strip()

    population = columns[2].text.strip()



    print(f"{country}: {population}")

In [7]:
from IPython.display import display, HTML

display(HTML("""

   <p style="font-family:verdana">This is a sample table</p>

  <table>

  <tr>

    <th>Company</th>

    <th>Contact</th>

    <th>Country</th>

  </tr>

  <tr>

    <td>Alfreds Futterkiste</td>

    <td>Maria Anders</td>

    <td>Germany</td>

  </tr>

  <tr>

    <td>Centro comercial Moctezuma</td>

    <td>Francisco Chang</td>

    <td>Mexico</td>

  </tr>

</table>

"""))